body {
  width: 1920px;
}
body .top-header {
  display: flex;
  width: 1420px;
  padding: 14px 300px;
  justify-content: space-between;
  align-items: center;
  background: var(--gray-scales-black, #272343);
}
body .top-header p:first-child {
  color: var(--gray-scales-white, #FFF);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 14.3px */
  text-transform: capitalize;
}
body .top-header div {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
body .top-header div .eng {
  color: var(--gray-scales-white, #FFF);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 16.9px */
}
body .navigation {
  display: flex;
  width: 1420px;
  padding: 20px 300px;
  justify-content: space-between;
  align-items: center;
  background: var(--gray-scales-off-white, #F0F2F3);
}
body .navigation .logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 0px;
}
body .navigation input {
  width: 413px;
  height: 44px;
  color: var(--gray-scales-gray, #9A9CAA);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding-left: 16px;
  border-radius: 5px;
  background: var(--gray-scales-white, #FFF);
  border: none;
}
body .navigation div {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
body .navigation div .cart {
  display: flex;
  padding: 11px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: var(--gray-scales-white, #FFF);
}
body .navigation div .cart .cart-word {
  color: var(--gray-scales-black, #272343);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 13.2px */
  text-transform: capitalize;
}
body .navigation div .cart span {
  fill: var(--accents-dark-accents, #007580);
  color: var(--gray-scales-white, #FFF);
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 10px */
  text-transform: capitalize;
}
body .navigation div .heart {
  width: 54px;
  height: 54px;
  border-radius: 8px;
  background: var(--gray-scales-white, #FFF);
}
body .navigation div .heart .heart-img {
  padding: 11px;
  width: 43px;
}
body .navigation div .user {
  width: 54px;
  height: 54px;
  border-radius: 8px;
  background: var(--gray-scales-white, #FFF);
}
body .navigation div .user img {
  padding: 11px;
  width: 43px;
}
body .navbar {
  display: flex;
  width: 1420px;
  padding: 14px 300px;
  justify-content: space-between;
  align-items: center;
  background: var(--gray-scales-white, #FFF);
  box-shadow: 0px 1px 0px 0px #E1E3E5;
}
body .navbar div:first-child {
  display: flex;
  gap: 32px;
}
body .navbar div:first-child div:first-child {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 6px;
  border: 1px solid var(--gray-scales-off-white, #E1E3E5);
  background: var(--gray-scales-white, #FFF);
}
body .navbar div:first-child div:first-child span {
  color: var(--gray-scales-black, #272343);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 15.4px */
  text-transform: capitalize;
}
body .navbar div:first-child div:last-child {
  display: flex;
  align-items: center;
  gap: 32px;
}
body .navbar div:first-child div:last-child a {
  color: var(--gray-scales-dark-gray, #636270);
  /* Nav_links */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 15.4px */
  text-transform: capitalize;
  text-decoration: none;
}
body .navbar div:first-child div:last-child a:hover {
  color: var(--accents-dark-accents, #007580);
}
body .navbar div:first-child span {
  color: var(--gray-scales-dark-gray, #636270);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 15.4px */
  text-transform: capitalize;
}
body .navbar div:last-child {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
body .navbar div:last-child span {
  color: var(--gray-scales-black, #272343);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 15.4px */
  text-transform: capitalize;
}
body .body {
  width: 1740px;
  height: 850px;
  border-radius: 0px 0px 48px 48px;
  background: var(--gray-scales-off-white, #F0F2F3);
  margin: 0 auto;
  position: relative;
  z-index: -1;
}
body .body .one {
  border-radius: 500px;
  font-size: 45px;
  font-weight: 800;
  background: var(--gray-scales-white, #FFF);
  padding: 14px;
  color: #007580;
  position: absolute;
  top: 399px;
  left: 88px;
}
body .body .two {
  border-radius: 100%;
  font-size: 45px;
  font-weight: 800;
  background: var(--gray-scales-white, #FFF);
  padding: 14px;
  color: #007580;
  position: absolute;
  top: 399px;
  right: 88px;
}
body .body .welcome {
  color: var(--gray-scales-black, #272343);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  position: absolute;
  top: 263px;
  left: 210px;
}
body .body .txt {
  color: var(--gray-scales-black, #272343);
  font-family: Inter;
  font-size: 68px;
  width: 700px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 74.8px */
  text-transform: capitalize;
  position: absolute;
  top: 225px;
  left: 210px;
}
body .body button {
  display: inline-flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  background: var(--accents-accents, #029FAE);
  border: none;
  text-transform: capitalize;
  position: absolute;
  top: 534px;
  left: 210px;
  color: var(--gray-scales-white, #FFF);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 110%; /* 17.6px */
text-transform: capitalize;
}
body .body button a {
  text-decoration: none;
}
body .body .chair {
  position: absolute;
  top: 82px;
  left: 974px;
}
body .body .back {
  position: absolute;
  left: 804px;
}
body .body .threedots {
  position: absolute;
  top: 727px;
  left: 804px;
}
body .final {
  display: flex;
  width: 1320px;
  padding: 50px 70px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 12px;
  background: var(--gray-scales-white, #FFF);
  box-shadow: 0px 24px 100px 0px rgba(22, 25, 50, 0.07);
  margin: -50px auto;
  position: relative;
  z-index: 1;
}
body .final div {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
body .final div .discount {
  color: var(--gray-scales-black, #272343);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 19.8px */
  text-transform: capitalize;
}
body .final div .every {
  color: var(--gray-scales-gray, #9A9CAA);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 16.5px */
}/*# sourceMappingURL=style.css.map */